 
@import url('../css/fonts.css');


html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #2a836d;
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}


/* ---------------- Global Classes ---------------*/

a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

h2{
    font-family: var(--Lexend);
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-family: var(--Livvic);
    width: 200px;
    text-align: center;
}

span{
    font-family: var(--Abel);
}

.container{
    margin: 0 5vw;
}

.text-gray{
    color: var(--text-gray);
}

p{
    font-family: var(--Lexend);
    color: var(--text-light);
}

/* ------x------- Global Classes -------x-------*/

/* --------------- navbar ----------------- */

.nav{
    padding: 0 3rem;
    height: 0rem;
    min-height: 9vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;            
}

.nav .nav-menu{    
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.2rem;
}


.nav .nav-items .nav-link:hover {
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.logo{
    width: 60px;
    cursor: pointer;
    padding: 1rem 0;
    display: block;
}

.nav .nav-items .btnLogin-popup{
    background: transparent;
    color: var(--text-gray);
    font-family: var(--Abel);
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 1.6rem 1rem;
}
.nav .nav-items .btnLogin-popup:hover{
    background-color: var(--midnight);
    color: var(--white);
}


/* -------x------- navbar ---------x------- */


/* ----------------- Main Content----------- */

/* --------------- Site title ---------------- */



main .site-title{
    background: url('../images/pexels-mateusz-salaciak-4275885.jpg')  no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
  }

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}
.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top:0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 9999;
}

.form-box h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px  solid  #162938;
    margin: 30px 0;
}

.input-box  label{
    position:absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
} 
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size:1.2em;
    color: #fff;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color:#fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color:#fff;
    font-weight: 600;
    text-decoration: none;   
}

.login-register p a:hover{
    text-decoration: underline;
}

.content{
    width: 100%;
    position:absolute;
    top: 30%;
}

.left-col{
    margin-left: 6%;
}
.left-col h1{
    font-size: 70px;
    color: transparent;
    line-height: 110px;
    float: left;
    -webkit-text-stroke: 1px #fff;
    background: url(../images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s  linear infinite;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.player{
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    float: right;
    
}
  .wrapper2{
    border: none;
    padding: 30px;
    border-radius: none;
    background-color: transparent;
    box-shadow: none;
  }
  
  .details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  }
  
  .track-art {
  margin: 25px;
  height: 70px;
  width: 70px;
  border:2px solid 	#FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
  }
  
  .track-name {
  font-size: 1.2rem;
  color: var(--white);
  }
  
  .track-artist {
  margin-top: 5px;
  font-size: 1.2rem;
  color: var(--white);
  }
  
  .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  color: var(--white);
  }
  .active{
      color:var(--white)
  }
  
  .repeat-track,
  .random-track,
  .playpause-track,
  .prev-track,
  .next-track {
  padding: 20px;
  opacity: 0.8;
  transition: opacity .2s;
  font-size: 10px;
  }
  
  .repeat-track:hover,
  .random-track:hover,
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
  opacity: 1.0;
  }
  
  .slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  }
  
  .seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83A9FF;
  -webkit-transition: .2s;
  transition: opacity .2s;
  }
  
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774FF;
  cursor: grab;
  border-radius: 100%;
  }
  
  .seek_slider:hover,
  .volume_slider:hover {
  opacity: 1.0;
  }
  
  .seek_slider {
  width: 60%;
  }
  
  .volume_slider {
  width: 30%;
  }
  
  .current-time,
  .total-duration {
  padding: 10px;
  }
  
  i.fa-volume-down,
  i.fa-volume-up {
  padding: 10px;
  color: var(--white);
  }
  
  i,
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward,
  p {
  cursor: pointer;
  }
  .randomActive{
      color: black;
  }
  .rotate {
      animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
  }

/* --------x------ Site title --------x------- */

/* --------------- Blog Carousel ------------ */

main .blog{
    background-color: #fff;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width:80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: 5px 10px;
    background: var(--sky);
    margin: .5rem;
}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}


/* -------x------- Blog Carousel -----x------ */

/* ---------------- Site Content ----------------*/

main .containerx{
    position: relative;
    display: grid;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    
}

main .containerx .box{
    position: relative;
    width: 540px;
    height: 320px;
    background: #000;
    margin: 50px;   
}

main .containerx .box .videoBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

main .containerx .box .videoBx video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .containerx .box .contentBx{
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0,0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}

main .containerx .box:hover .contentBx {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

main .containerx .box .contentBx .content{
    position: relative;
    padding: 20px 60px;
    opacity: 0;
    margin-bottom: 150px;
}

main .containerx .box:hover .contentBx .content{
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
}

main .containerx .box .contentBx .content h2{
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

main .containerx .box .contentBx .content p{
    color: #fff;
    font-weight: 300;
}

  
/* -------x-------- Site Content --------x-------*/


/* ---------x------- Main Content -----x----- */


/* ----------------- Footer --------------------- */

footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: var(--white);
}

footer.footer #follow div i{
    color: var(--white);
    padding: 0.4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: var(--midnight);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}

footer.footer .iletisim{
    font-family: var(--Josefin);
}
footer.footer #iletisim a {
    color: var(--white);
}


/* ---------x------- Footer ----------x---------- */


@media only screen and (max-width: 1130px){

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80%;
    }

}
